body,
html,
main {
  margin: 0;
  background-color: lightgrey;
  height: 100%;
  font-family: calibri, serif;
  display: flex;
  flex-direction: column;
}

.check,
.sub_task_invis,
.invis_task,
.messages_invis,
.hide_message,
.employees_button,
#nav_profile_ul,
.about_us_ul,
#logged_in,
#logged_out {
  display: none;
}

/* header */

header nav ul {
  list-style: none;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  background-color: black;
  color: whitesmoke;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid whitesmoke;
  text-align: center;
  z-index: 100;
  position: relative;
}

header nav ul li {
  padding: 10px 40px;
  border-right: 1px solid whitesmoke;
  box-sizing: border-box;
  max-width: 175px;
}

header nav ul li:last-child {
  border-right: none;
}

nav a {
  text-decoration: none;
  color: whitesmoke;
}

nav li:hover {
  background-color: lightgrey;
  cursor: pointer;
  color: black;
}

#nav_profile,
.about_us {
  position: relative;
}

#nav_profile:hover #nav_profile_ul,
.about_us:hover .about_us_ul {
  position: absolute;
  width: 100%;
  display: block;
  left: 0;
  top: 102%;
  z-index: 100;
}

#nav_profile_ul li,
.about_us_ul li {
  border-bottom: 1px solid whitesmoke;
  border-right: 1px solid whitesmoke;
  border-left: 1px solid whitesmoke;
  padding: 10px 20px;
  -ms-list-style-image: url(data:0);
}

#nav_profile_ul li:last-child,
.about_us_ul li:last-child {
  border-bottom: none;
}


#search_logged_in,
#search_logged_out {
  position: relative;
  padding: 5px 5px 0 5px;
}

#search_logged_in ul,
#search_logged_out ul {
  display: none;
  position: absolute;
  width: 100%;
  left: 0;
  z-index: 50;
}

#search_logged_in ul li,
#search_logged_out ul li {
  border: none;
}

#search_logged_out input,
#search_logged_in input {
  display: none;
}

#search_logged_out span,
#search_logged_in span {
  background-image: url('./src/images/images\ \(1\).png');
  background-color: white;
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: block;
  background-size: cover;
  background-position: center;
}

/* main pictures */
.carousel-wrapper {
  height: 100%;
  position: relative;
  width: 100%;
  margin: 0 auto;
}
.carousel-item {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 12px;
}

.arrow-prev {
  left: 5%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(135deg);
}

.arrow-next {
  right: 5%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
}

[id^='item'] {
  display: none;
}

.item-1 {
  background: url('./src/images/computer-1185626_1920.jpg');
  background-size: cover;
  background-position: center;
}

.item-2 {
  background: url('./src/images/paper-3213924_1920.jpg');
  background-size: cover;
  background-position: center;
}
.item-3 {
  background: url('./src/images/startup-593341_1920.jpg');
  background-size: cover;
  background-position: center;
}
.item-4 {
  background: url('./src/images/workplace-1245776_1920.jpg');
  background-size: cover;
  background-position: center;
}

#item-2:checked ~ .item-2,
#item-3:checked ~ .item-3,
#item-4:checked ~ .item-4,
#item-1:checked ~ .item-1 {
  z-index: 3;
  opacity: 1;
}

/* sign in sign up pages */
.sign_in_page {
  display: none;
  width: 100%;
  height: 95vh;
  justify-content: center;
  align-items: center;
}

.sign_in_wrapper form,
.sign_up_wrapper form {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 50px;
  border-radius: 5%;
}

.sign_up_wrapper form {
  display: none;
}

.sign_in_wrapper form p,
.sign_up_wrapper form p {
  text-align: center;
}

.sign_in_wrapper form *,
.sign_up_wrapper form * {
  margin: 10px;
}

/* contacts */

.contacts {
  display: none;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  height: 100%;
  overflow: auto
  ;
}

#map {
  width: 50%;
  height: 400px;
}

#map iframe{
  width: 100%;
  height: 100%;
}

.contacts #map_info {
  background-color: white;
  border-radius: 5%;
  margin: 2%;
  padding: 2%;
  border: 1px solid black;
}

/* founders */

.founders {
  display: none;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

.item-5 {
  background: url('./src/images/entrepreneur-593358_640.jpg') no-repeat;
  background-size: 300px 300px;
  background-position: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-end;
  height: 70%;
}
.item-6 {
  background: url('./src/images/people-2563491_640.jpg') no-repeat;
  background-size: 300px 300px;
  background-position: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-end;
  height: 70%;
}
.item-7 {
  background: url('./src/images/woman-3083379_640.jpg') no-repeat;
  background-size: 300px 300px;
  background-position: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-end;
  height: 70%;
}
.item-8 {
  background: url('./src/images/women-1209678_640.jpg') no-repeat;
  background-size: 300px 300px;
  background-position: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-end;
  height: 70%;
}

.carousel-wrapper .carousel-item h2 {
  text-align: center;
  top: 45%;
  width: 50%;
}

.carousel-item h2 {
  position: relative;
  text-align: center;
  margin: 0 auto;
  top: 35%;
}

.carousel-item p {
  text-align: center;
  position: relative;
  margin: 0 auto;
}

#item-5:checked ~ .item-5,
#item-6:checked ~ .item-6,
#item-7:checked ~ .item-7,
#item-8:checked ~ .item-8 {
  z-index: 3;
  opacity: 1;
}

/* history */

.history {
  display: none;
  width: 60%;
  flex-wrap: wrap;
  margin: 0 auto;
  overflow: auto;
  flex-grow: 1;
}

.history-item-1 {
  background: url('./src/images/entrepreneur-593371_1280.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 5%;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.history-item-2 {
  background: url('./src/images/home-office-336378_1280.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 5%;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.history-item-3 {
  background: url('./src/images/startup-593327_1280.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 5%;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.history p {
  color: white;
  text-align: center;
  background-color: lightgrey;
  width: 100%;
}

/*tasks*/
#tasks_wrapper,
#messages_wrapper {
  width: 90%;
  max-width: 960px;
  margin: 20px auto;
  border-radius: 6px;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  padding: 0 0 20px;
  overflow: auto;
  height: 90%;
  border: 1px solid lightgray;
  display: none;
}

.page-banner {
  background: #eee;
  padding: 10px 0;
}

.page-banner h1,
.page-banner p {
  width: 100%;
  text-align: center;
  margin: 10px 0;
}

.page-banner input {
  margin: 20px auto;
  display: block;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
  color: #444;
}

#task-list,
#add-task,
#add-message,
#message-list_sent,
#message-list_inbox {
  margin: 30px;
}

#task-list ul,
#message-list_sent ul,
#message-list_inbox ul {
  list-style-type: none;
  padding: 0;
  
}

#task-list li,
#message-list_sent li,
#message-list_inbox li {
  position: relative;
  padding: 20px;
  border-left: 5px solid #ddd;
  margin: 20px 10px;
  z-index: 0;
}

#task-list li:last-child {
  border-color: grey;
}

#message-list_sent li.unseen,
#message-list_inbox li.unseen,
#task-list li.undone {
  border-color: crimson;
}

#message-list_sent li.seen,
#message-list_inbox li.seen,
#task-list li.done {
  border-color: rgb(16, 110, 16);
}

.date {
  font-weight: bold;
  display: inline-block;
  position: relative;
  margin-right: 20px;
  z-index: -1;
  vertical-align: middle;
}

.delete {
  float: right;
  background: grey;
  padding: 6px;
  border-radius: 4px;
  cursor: pointer;
  color: black;
}

.delete:hover {
  background: #bfd7ea;
  border: 1px solid white;
}

#add-task,
#add-message {
  width: 400px;
  margin: 0 auto;
}

#add-task input,
#add-message input {
  display: block;
  margin: 20px 0;
  padding: 10px;
  border: 1px solid #ccc;
  font-size: 16px;
  border-radius: 4px 0 0 4px;
  box-sizing: border-box;
  width: 300px;
  float: left;
  clear: both;
}

#add-task button,
#add-message button {
  border: 1px solid lightgray;
  background: lightgrey;
  padding: 10px 20px;
  font-size: 16px;
  display: inline-block;
  margin: 0;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  width: 100px;
  float: left;
  margin: 20px 0;
  border-left: 0;
  color: black;
}

#add-task button:hover,
#add-message button:hover {
  background: grey;
}

#add-task #add_subtask_button {
  border: 1px solid white;
  background: lightgrey;
  padding: 10px 20px;
  font-size: 16px;
  display: inline-block;
  margin: 0;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  width: 400px;
  margin: 20px 0;
  border-left: 0;
  color: black;
}


#add-task #add_subtask_button:hover {
  background: grey;
}

#add-task:after,
#add-message:after {
  content: '';
  display: block;
  clear: both;
}

#add-task label,
#add-message label {
  line-height: 52px;
}

.page-banner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.progress {
  color: crimson;
  margin-left: 20px;
}

#select_task {
  width: 45%;
  font-size: 15px;
}

#search-tasks,
#search-messages {
  width: 100%;
}

/* messages */

.page-banner #message_text {
  width: 100%;
  height: 200px;
}

#select_message {
  width: 45%;
  font-size: 15px;
}

#message-list_sent ul li span:nth-child(3),
#message-list_inbox ul li span:nth-child(3) {
  display: inline-block;
  position: relative;
  max-width: 100px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  z-index: -1;
  vertical-align: middle;
}

#message-list_sent ul li span:nth-child(2),
#message-list_inbox ul li span:nth-child(2) {
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px;
  color: crimson;
}

#message-list_sent ul li span:nth-child(3).hide_message,
#message-list_inbox ul li span:nth-child(3).hide_message {
  visibility: hidden;
}

#message-list_inbox.messages_invis,
#message-list_sent.messages_invis {
  display: none;
}

/* share button */

#share_link_container {
  display: none;
  position: fixed;
  margin: auto;
  border: 1px solid black;
  width: 250px;
  padding: 10px;
  background-color: white;
  color: black;
  margin-left: -125px;
  top: 40%;
  left: 50%;
  z-index: 100;
}



#share_link_container span {
  position: absolute;
  background-color: #eee0cb;
  border-radius: 50%;
  width: 20px;
  left: 92%;
  top: 1%;
}

#share_link_container span:hover {
  cursor: pointer;
  background-color: #bfd7ea;
}

/* employees */

body .pagination {
  width: 90%;
  max-width: 960px;
  margin: 20px auto;
  border-radius: 6px;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  padding: 0 0 20px;
  overflow: auto;
  height: 75%;
  border: 1px solid lightgray;
  display: none;
}

#listingTable {
  margin-top: 10%;
}

.pagination {
  min-width: 300px;
}

body .pagination .tableList {
  min-height: 500px;
  text-indent: 20px;
}
body .tableList .objectBlock {
  position: relative;
  background-color: rgb(59, 58, 58);
  color: white;
  padding: 10px;
  width: 50%;
  margin: 10px auto;
  min-width: 220px;
}
body .pageButton {
  border: 1px solid black;
  padding: 5px;
}
body .clickPageNumber {
  background-color: lightgrey;
  padding: 5px;
  margin-left: 2px;
  margin-right: 2px;
}
body .pagination-block {
  text-align: center;
}
body .pagination-block span {
  display: inline-block;
}
body .pagination-block .pageButton {
  background-color: grey;
  color: white;
}
body .pagination-block span:hover {
  cursor: pointer;
}
body .opacity {
  opacity: 0.5;
}
body .outline-none {
  outline: none;
}

/* footer */

footer {
  display: flex;
  justify-content: space-between;
  background-color: black;
  color: whitesmoke;
  text-align: center;
  margin-top: auto;
  padding: 20px 0;
  width: 100%;
  z-index: 5;
  border-top: 1px solid white;
}

#footer_left {
  padding-left: 20px;
}

#footer_right {
  padding-right: 20px;
}

footer p {
  margin: 0;
}

button {
  border-radius: 5%;
  min-width: 100px;
}

button:hover {
  background-color: #bfd7ea;
  cursor: pointer;
}


@media (max-width: 822px) { 

  header nav ul {
    justify-content: center;
  }

  

  #select_task,
  #select_message {
    width: 100%;
  }

  #map {
    width: 100%;
    height: 400px;
  }
 }

 @media (max-width: 552px) { 

  header nav ul {
    flex-direction: column;
    align-items: center;
  }

  header nav ul li{ 
    border: none;
  }
  
  
  footer {
    flex-direction: column;
  }

 }