body, html, main {
    margin: 0;
    background-color: lightgrey;
    position: relative;
    height: 100%;
}

header nav ul {
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    background-color: black;
    color: whitesmoke;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid whitesmoke;
    
    
}

header nav ul li {
    padding: 10px 40px;
    border-right: 1px solid whitesmoke;
    box-sizing: border-box;
    flex-grow: 1;
    text-align: center;
    
}

header nav ul li:last-child {
    border-right: none;
}

nav a {
  text-decoration: none;
  color: whitesmoke;
}

nav li:hover{
  color: red;
  cursor: pointer;
  
}

#nav_profile {
  position: relative;
}

#nav_profile:hover #nav_profile_ul{
  position: absolute;
  width: 100%;
  display: block;
  left: 0;
  top: 102%;
  z-index: 50;
}

#nav_profile_ul {
 display: none;
}


#nav_profile_ul li {
  border-bottom: 1px solid whitesmoke;
  border-right: 1px solid whitesmoke;
  border-left: 1px solid whitesmoke;
  padding: 10px 20px;
}

#nav_profile_ul li:last-child {
  border-bottom: none;
  
}


.carousel-wrapper{
    height:100%;
    position:relative;
    width:100%;
    margin:0 auto;
    display: none;

  }
  .carousel-item{
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    opacity:0;
    transition: all 0.5s ease-in-out;
  }
  .arrow{
    border: solid black;
      border-width: 0 3px 3px 0;
      display: inline-block;
      padding: 12px;
  }
  
  .arrow-prev{
    left:5%;
    position:absolute;
    top:50%;
    transform:translateY(-50%) rotate(135deg);
  }
   
  .arrow-next{
      right:5%;
    position:absolute;
    top:50%;
    transform:translateY(-50%) rotate(-45deg);
    }
  
  
  
  
  
  
  /*Select every element*/
  [id^="item"] {
      display: none;
    }
  
  .item-1 {
      z-index: 2;
      opacity: 1;
    background:url('./src/images/computer-1185626_1920.jpg');
    background-size:cover;
    background-position: center;
    }
  .item-2{
    background:url('./src/images/paper-3213924_1920.jpg');
     background-size:cover;
     background-position: center;
  }
  .item-3{
    background:url('./src/images/startup-593341_1920.jpg');
     background-size:cover;
     background-position: center;
  }
  .item-4{
    background:url('./src/images/workplace-1245776_1920.jpg');
     background-size:cover;
     background-position: center;
  }
  
  
  *:target ~ .item-1 {
      opacity: 0;
    }
  
  #item-1:target ~ .item-1 {
      opacity: 1;
    }
  
  #item-2:target ~ .item-2, #item-3:target ~ .item-3, #item-4:target ~ .item-4{
      z-index: 3;
      opacity: 1;
    }


  


  .sign_in_page {
    display: none;
    width: 100%;
    height: 95vh;
    justify-content: center;
    align-items: center;
  }

  .sign_in_wrapper form, .sign_up_wrapper form {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 50px;
  }

  .sign_up_wrapper form {
    display: none;
  }

  .sign_in_wrapper form p, .sign_up_wrapper form p{
    text-align: center;
  }

  .sign_in_wrapper form *,  .sign_up_wrapper form *{
    margin: 10px;
  }
  


  .contacts {
    display: none;
    height: 95vh;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
  }

  .contacts #map {
    margin: 2%;
  }

  .contacts #map_info {
    margin: 2%;
    background-color: white;
    padding: 2%;
  }





/*New task*/
#tasks_wrapper, #messages_wrapper{
  width: 90%;
  max-width: 960px;
  margin: 20px auto;
  border-radius: 6px;
  box-shadow: 0px 1px 6px rgba(0,0,0,0.2);
  box-sizing: border-box;
  padding: 0 0 20px;
  overflow: auto;
  height: 90%;
  border: 1px solid lightgray;
  display: none;
}

#tasks_wrapper {
  display: block;
}

.page-banner{
  background: #eee ;
  padding: 10px 0;

}

.page-banner h1, .page-banner p{
  width: 100%;
  text-align: center;
  margin: 10px 0;
}

.page-banner input{
  margin: 20px auto;
  display: block;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
  color: #444;
}

#task-list, #add-task, #add-message, #message-list_sent, #message-list_inbox{
  margin: 30px;
}

#task-list ul, #message-list_sent ul,  #message-list_inbox ul{
  list-style-type: none;
  padding: 0;
}

#task-list li, #message-list_sent li, #message-list_inbox li{
  position: relative;
  z-index: 100;
  padding: 20px;
  border-left: 5px solid #ddd;
  margin: 20px 10px;
  
}

#task-list li:hover, #message-list_sent li:hover, #message-list_inbox li:hover{
  border-color: #9361bf;
}

#message-list_sent li.unseen,  #message-list_inbox li.unseen{
  border-color: red;
}

#message-list_sent li.seen, #message-list_inbox li.seen {
  border-color: green;
}

.delete{
  float: right;
  background: #9361bf;
  padding: 6px;
  border-radius: 4px;
  cursor: pointer;
  color: white;
}

.delete:hover{
  background: #333;
}

#add-task, #add-message{
  width: 400px;
  margin: 0 auto;
}

#add-task input, #add-message input{
  display: block;
  margin: 20px 0;
  padding: 10px;
  border: 1px solid #ccc;
  font-size: 16px;
  border-radius: 4px 0 0 4px;
  box-sizing: border-box;
  width: 300px;
  float: left;
  clear: both;
}

#add-task button, #add-message button{
  border: 1px solid #9361bf;
  background: #9361bf;
  padding: 10px 20px;
  font-size: 16px;
  display: inline-block;
  margin: 0;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  width: 100px;
  float: left;
  margin: 20px 0;
  border-left: 0;
  color: white;
}

#add-task #add_subtask_button {
  border: 1px solid #9361bf;
  background: #9361bf;
  padding: 10px 20px;
  font-size: 16px;
  display: inline-block;
  margin: 0;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  width: 400px;
  margin: 20px 0;
  border-left: 0;
  color: white;
}

#add-task:after, #add-message:after{
  content: '';
  display: block;
  clear: both;
}

#add-task label,  #add-message label{
line-height: 52px;
}

.page-banner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
} 

#select_task, #select_message{
  width: 200px;
}

#search-tasks, #search-messages {
  width: 100%;
}


.page-banner  #message_text {
  width: 100%;
  height: 200px;
}



#message-list_sent ul li span:nth-child(2),
#message-list_inbox ul li span:nth-child(2)  {
  display: inline-block;
  position: relative;
  max-width: 100px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  z-index: -1;
  vertical-align: middle;
}

#message-list_sent ul li span:nth-child(3),
#message-list_inbox ul li span:nth-child(3) {
  display: inline-block;
  position: relative;
  margin-left: 20px;
  z-index: -1;
  vertical-align: middle;
}

#message-list_sent ul li span:first-child,
#message-list_inbox ul li span:first-child {
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px;
  color: red;
}


#message-list_sent ul li span:nth-child(2).sub_task_invis,
#message-list_inbox ul li span:nth-child(2).sub_task_invis {
  visibility: hidden;
  
}

#message-list_inbox.sub_task_invis,
#message-list_sent.sub_task_invis {
  display: none;
}


.sub_task_invis {
  display: none;
}

#share_link_container {
  display: none;
  position: fixed;
  margin: auto;
  width: 250px;
  padding: 10px;
  background-color: white;
  color: black;
  margin-left: -125px;
  top: 40%;
  left: 50%;
  z-index: 5;
}

#share_link_container span {
  position: absolute;
  left: 95%;
  top: 1%;
}

#share_link_container span:hover {
  cursor: pointer;
}









footer {
  display: flex;
  justify-content: space-between;
    background-color: black;
    color: whitesmoke;
    text-align: center;
    padding: 20px 0;
    position: absolute;
    bottom: -10;
    width: 100%;
    z-index: 5;
}

#footer_left {
  padding-left: 20px;
}

#footer_right {
  padding-right: 20px;
}


#share_button {
  min-width: 100px;
}

footer p {
    margin: 0;
}
